
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap&subset=cyrillic,cyrillic-ext');

body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #2b5329;
}

html { 
  font-size: 16px;
}

.container{
  position: relative;
  margin: 0 auto;
  width: 667px;
}

.container__block {
  padding: 10px; 
  clear: both;
  margin: 0 auto;
  text-align: center;
}
.container__block_bg_white{
	/*background-color: #F4FCFF;*/
	min-height: 564px;
}
.layout{
	/*overflow: hidden;*/
	position: relative;
}
.layout__centered{
	text-align: center;
	position: relative;
}

.card_img {
  width: 80px;
  height: 116px;
  float: left;
  background: url('https://i.imgur.com/A4oFOfY.gif') no-repeat;
  background-size: 1053px 587px; 
}

.card_shirt .card_img {
  cursor: pointer;
  border: 5px solid white;
}

.hand__block_left,
.hand__block_right
{
  clear: both;
  margin-top: 10px;
  min-height: 126px;
  /* border-color: yellow;
  border-style: dotted;
  border-width: 0px; */
}

#new-deal{
  width: 80px;
  height: 116px;
  background: url('https://i.imgur.com/A4oFOfY.gif') no-repeat;
  background-size: 1053px 587px; 
  border: none;
  background-position: 0px -469px;
  margin: 20px;
  font-weight: bold;
  font-size: 24px;
}

.winnerImg{
  display: none;
  width: 123px;
  position: absolute;
  left: -116px;
}

.hand__block_left .winnerImg{
  top: 168px;
}
.hand__block_right .winnerImg{
  top: 304px;
}
